@font-face {
    font-family: 'adventures';
    src: url(Fonts/Adventures-7BOVD.ttf);
}

main {
    font-family: adventures;
}

nav, 
#menu_checkbox {
    display: none;
}

#menu_checkbox:checked ~ nav {
    display: block;
    position: absolute;
}

header {
    background-color: #4e6b7e;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky; 
    top: 0;
}

nav {
    position: relative;
    background: #4e6b7e;
    color: #fff;
}

nav a {
    display: block;
    color: #fff;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 25px;
    font-family: adventures;
}

nav a:hover {
    text-decoration: underline;
}

.logo {
    height: 100px;
    padding: 10px;
}

.hamburger_icon {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 40px;
}

h1 {
    margin: auto;
    padding: 20px;
    max-width: 1000px;
    text-align: center;
    font-size: 50px;
    margin: 30px auto;
    color: #CF7F07;
}

h2 {
    margin: 0;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    color: #CF7F07;
}
.cta {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 15px;
    text-decoration: none;
    font-size: 35px;
    background-color: #4e6b7e;
    width: 300px;
    align-items: center;
    margin: 200px auto;
    display: block;
}

.cta:hover {
    color: #4e6b7e;
    background-color: #fff;
    border: 1px solid #4e6b7e;
    transition-property: background-color;
    transition-duration: 1s;
}

.cta_small {
    color: #fff;
    background-color: #CF7F07;
    border: 1px solid #CF7F07;
    font-size: 25px;
    display: block;
    text-decoration: none;
    border-radius: 30px; 
    text-align: center;
    width: 150px;
    margin: auto;
    padding: 3px; 
}

.cta_small:hover {
    background-color: #fff;
    color: #CF7F07;
    transition-property: background-color;
    transition-duration: 1s;
}

.cta_large, 
.cta_large_o {
    color: #fff;
    background-color: #4e6b7e;
    border: 1px solid #4e6b7e;
    font-size: 25px;
    display: block;
    text-decoration: none;
    border-radius: 30px; 
    text-align: center;
    width: 250px;
    margin: 10px auto;
    padding: 10px;
}

.cta_large:hover,
.cta_large_o:hover {
    color: #4e6b7e;
    background-color: #fff;
    border: 1px solid #4e6b7e;
    transition-property: background-color;
    transition-duration: 1s;
}

.cta_large_o {
    background-color: #CF7F07;
    border: #CF7F07;
}

.cta_large_o:hover {
    background-color: #fff;
    border: 1px solid #CF7F07;
    color: #CF7F07;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4e6b7e;
    color: #fff;
    font-family: adventures;
  }

.shoppingcart {
    height: 40px;
    position: absolute;
    top: 40px;
    right: 40px;
}

@media (min-width: 789px){
    nav {
        display: block;
        position: relative;
        text-align: center;
        font-size: 20px; 
    }

    .hamburger_icon {
    display: none;
    }

    nav a {
    display: inline-block;
    }
}

/* Home page */ 

.popular_items_header {
    color: #4e6b7e;
}

.reviews_header {
    color: #fff;
}

.welcome {
    background-image: url("../images/homepage-background.jpg");
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}

.welcome_paragraph {
    font-size: 50px;
    color: #fff;
    padding-top: 120px;
    margin: auto;
    max-width: 1000px;
}

.popular_items,
.product_list {
    color: #4e6b7e;
    display: block;
    border: 2px solid #CF7F07;
    padding: 10px 10px;
    margin: 5px auto;
}

.popular_items_div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.jacket_img {
    height: 200px;
    margin: auto;
}

.reviews {
    background-color: #4e6b7e;
    color: #fff;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.reviews_content {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    max-width: 1000px;
}

.reviews_content div {
    margin: 30px;
}


.reviews_content > * {
    flex: 1;
}

.reviews_name {
    display: block;
    padding: 10px;
}

@media (min-width: 789px){
    
    .popular_items_div {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .reviews_content {
        display: inline-block;
    }
}

/* Contact us */ 

input,
textarea {
    border: 2px solid #4e6b7e;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    min-width: 300px;
}

textarea {
    min-height: 150px;
}

.contact_paragraph {
    color: #4e6b7e;
    text-align: center;
    font-size: 25px;
}

.contact_info {
    color: #4e6b7e;
    display: block;
    text-align: center;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4e6b7e;
    margin-bottom: 15px;
}

.form > * {
    flex: 1;
    padding: 10px;
}

.image {
    max-height: 30px;
}

.contact_content, 
.order_complete {
    padding: 20px 0px;
}
.contact_page, 
.complete {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
}

.contact_page > * {
    flex: 1;
}

.complete > * {
    flex:1;
}


@media (min-width: 789px){
    .contact_page,
    .complete {
        margin: auto;
        flex-direction: row;
        gap: 30px;
        max-width: 1000px;
    
    }
}

/* Products */ 

.product_list {
    text-align: center;
}

.our_jackets {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:20px;
        max-width: 1000px;
        margin: auto;
}


@media (min-width: 789px) {
    .our_jackets {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* About us */

.about_img {
    display: none;
}

.about_us {
    
    margin: auto;
    max-width: 1000px;
}

.about_images {
    display: flex;
    flex-direction: row;
  
    margin: auto;   
}

.about {
    padding: 20px;    
    background-color: #4e6b7e;
    color: #fff;
    text-align: left;
}

@media (min-width: 789px) {
    .about_img {
        display: block;
        height: 300px;
        padding: 20px;
    }
}


/* Jackets */ 

.rainydays_product{
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    margin-bottom: 50px;
}

.rainydays_product > * {
    flex: 1;
}

.product_image {
    width: 100%;
}

.jacket_spesific {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}

@media (min-width: 600px) {
    .rainydays_product {
        flex-direction: row;
        margin: 30px auto;
        gap: 30px;
    }
}

/* Added to cart */ 

.blur {
    position: relative;
    filter: blur(10px);
}

.added {
    background-color: #fff;
    position: absolute;
    max-width: 1000px;    
    max-height: 800px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:adventures;
    display: block;
    border: 1px solid #4e6b7e;
    min-width: 320px; 
    text-align: center;
    padding: 20px;
    color: #4e6b7e;
    font-size: 35px;
}


.cart {
    display: block;
    border: 3px solid #CF7F07;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 30px;
    color: #CF7F07;
    width: 150px;
    align-items: center;
    margin: auto;
}

.cart:hover {
    color: #fff;
    background-color: #CF7F07;
}

.success_icon {
    height: 300px;
}

/* Your order */ 

.example {
    max-height: 200px;
    margin: auto;
}

.order_example {
    border: 2px solid #4e6b7e;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 15px auto;  
    padding: 20px 20px;
}

.text {
    font-size: 20px;
    text-align: center;
    color:#4e6b7e;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}